<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Caliburn.Micro" version="4.0.173" targetFramework="net472" />
  <package id="Caliburn.Micro.Core" version="4.0.173" targetFramework="net472" />
  <package id="ControlzEx" version="4.4.0" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="M2Mqtt" version="4.3.0.0" targetFramework="net472" />
  <package id="MahApps.Metro" version="2.4.7" targetFramework="net472" />
  <package id="Microsoft.Xaml.Behaviors.Wpf" version="1.1.19" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="NLog" version="4.7.11" targetFramework="net472" />
  <package id="OpenCvSharp4" version="4.5.3.20210817" targetFramework="net472" />
  <package id="OpenCvSharp4.runtime.win" version="4.5.3.20210817" targetFramework="net472" />
  <package id="OpenCvSharp4.Windows" version="4.5.3.20210817" targetFramework="net472" />
  <package id="OpenCvSharp4.WpfExtensions" version="4.5.3.20210817" targetFramework="net472" />
  <package id="OxyPlot.Core" version="2.0.0" targetFramework="net472" />
  <package id="OxyPlot.Wpf" version="2.0.0" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Drawing.Common" version="5.0.2" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net472" />
  <package id="System.Runtime.Serialization.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="VideoLAN.LibVLC.Windows" version="3.0.16" targetFramework="net472" />
  <package id="Vlc.DotNet.Core" version="3.1.0" targetFramework="net472" />
  <package id="Vlc.DotNet.Core.Interops" version="3.1.0" targetFramework="net472" />
  <package id="Vlc.DotNet.Wpf" version="3.1.0" targetFramework="net472" />
</packages>